<div class="aside-wrapper">
    <div class="tag-cloud">
        <div class="tag-cloud__item">
            <a href="#" class="tag-cloud__text">Подготовка к поступлению</a>
        </div>
        <div class="tag-cloud__item">
            <a href="#" class="tag-cloud__text">Поступить на факультет</a>
        </div>
        <div class="tag-cloud__item tag-cloud__item_active">
            <a href="#" class="tag-cloud__text">Ваша карьера</a>
        </div>
        <div class="tag-cloud__item">
            <a href="#" class="tag-cloud__text">Иностранным гражданам</a>
        </div>
    </div>
    <div class="question">
        <div class="question__body">
            <h3 class="dean__title">Вопрос декану</h3>
            <a href="#" class="dean__profile-link">Профиль декана</a>
            <div class="dean__img"><img src="img/dean.jpg" alt="Фотография декана"></div>
            <p class="dean__name">Московский Сергей Борисович</p>
            <div class="dean__line line"></div>
            <p class="dean__desc">Декан Физического факультета</p>
        </div>
        <button class="question__btn">Задать вопрос <img src="img/arrowright.png" alt="Стрелка в право"></button>
    </div>
    <div class="info">
        <div class="info__line line"></div>
        <p class="info__text"> Подавать сертификаты ЕГЭ вместе с другими документами не нужно, ваши баллы будут
            проверяться в федеральной базе</p>
    </div>
    <div class="statement">
        <h3 class="statement__title">Подать заявление</h3>
        <div class="statement__line line"></div>
        <p class="statement__desc">Заявление на любую программу бакалавриата и магистратуры можно подать во 2 корпусе
            ЯрГУ по адресу ул. Кирова 8/10.</p>
        <div class="schedule">
            <h4 class="schedule__title">График работы:</h4>
            <p class="schedule__text">Будни с 9:00 до 16:00,</p>
            <p class="schedule__text">Суббота с 10:00 до 13:00</p>
            <p class="schedule__text">Воскресенье: выходной</p>
        </div>
        <button class="statement__btn">На карте</button>
    </div>
</div>

