<footer class="footer">
    <div class="background"></div>
    <div class="wrapper">
        <div class="footer__all-site">
            <a class="all-site__link" href="#">
            <img src="img/Гамбургер.svg" alt="Бургер иконка" class="all-site__img">
            <div class="all-site__text">Весь сайт</div>
            </a>
        </div>
        <div class="footer__copyright">
            <p class="copyright__text">© 2006 — 2018 Физический факультет Яросламвского государтсвенного
                университета</p>
            <p class="copyright__text">© 1995 — 2018 Ярославского государтсвенного университета</p>
        </div>
        <div class="footer__make-logo">
            <img src="img/logo_x-form.png" alt="Логотип разработчика" class="make-logo__img">
            <div class="make-logo__block">
                <p class="make-logo__text"><a href="#">Дизайн и разработка</a></p>
                <p class="make-logo__desc"><a href="#">X-form</a></p>
            </div>
        </div>
    </div>

</footer>