<header class="header">
    <div class="wrapper">
        <div class="header-body">
            <div class="header-top">
                <div class="header-top__logo">
                    <a href="#">
                        <img src="img/ЛогоДемида.png" alt="Логоти" class="logo__img">
                        <p class="logo__text">ЯрГУ имени П.Г. Демидова</p>
                    </a>
                </div>
                <div class="header-top__spec-ver">
                    <a href="#" class="spec-ver__link" >
                        <img src="img/Очки.svg" alt="Версия для слабовидящих" class="spec-ver__img">
                        <p class="spec-ver__text">Версия для слабовидящих</p>
                    </a>

                </div>
                <div class="header-top__search">
                    <img src="img/Поиск.svg" alt="Поиск">
                </div>
                <div class="header-top__lang">
                    <div class="lang__text">EN</div>
                </div>
            </div>
            <div class="header-main">
                <h2 class="header-main__text">Физический</h2>
                <img src="img/ЛОгофакультета.png" alt="Фоготип факультета" class="header-main__logo">
                <h2 class="header-main__text">Факультет</h2>
            </div>
            <div class="header-menu">
                <nav class="header-menu__block">
                    <a href="#" class="header-menu__item">О Факультете</a>
                    <a href="#" class="header-menu__item">Абитуриентам</a>
                    <a href="#" class="header-menu__item">Студентам</a>
                    <a href="#" class="header-menu__item">Кафедры</a>
                    <a href="#" class="header-menu__item">Образование</a>
                    <a href="#" class="header-menu__item">Наука</a>
                    <a href="#" class="header-menu__item">Новости</a>
                    <a href="#" class="header-menu__item">Контакты</a>
                </nav>
            </div>
        </div>
    </div>
</header>