<aside class="sidebar">
    <div class="sidebar-body">
        <ul class="sidebar-body__menu sidebar-menu">
            <li class="sidebar-menu__item"><span class="badge">6</span><a href="#">Документы</a></li>
            <li class="sidebar-menu__item"><a href="#">План</a></li>
            <li class="sidebar-menu__item"><span class="badge">8</span><a href="#">Оплата</a></li>
            <li class="sidebar-menu__item is-active"><a href="#">Стадии</a></li>
            <li class="sidebar-menu__item"><a href="#">Online</a></li>
            <li class="sidebar-menu__item"><span class="badge">30</span><a href="#">Инструкции</a></li>
            <li class="sidebar-menu__item"><a href="#">Уведомления</a></li>
        </ul>
        
        <div class="sidebar-body__adress sidebar-adress">
            <div class="sidebar-adress__item">
                <h3 class="sidebar-adress__title">Адрес 123</h3>
                <p class="sidebar-adress__text">Адрес 123</p>
                <button class="sidebar-adress__btn">Перейти<img src="img/sidebar-icon.png" alt=""></button>
            </div>
            <div class="sidebar-adress__item">
                <h3 class="sidebar-adress__title">Адрес 123</h3>
                <p class="sidebar-adress__text">Адрес 123</p>
                <button class="sidebar-adress__btn">Перейти<img src="img/sidebar-icon.png" alt=""></button>
            </div>

        </div>
    </div>
</aside>
