<aside class="sidebar">
    <div class="sidebar-body">
        <div class="sidebar-body__menu sidebar-menu">
            <div class="sidebar-menu__item">Документы</div>
            <div class="sidebar-menu__item">План</div>
            <div class="sidebar-menu__item">Оплата</div>
            <div class="sidebar-menu__item">Стадии</div>
            <div class="sidebar-menu__item">Online</div>
            <div class="sidebar-menu__item">Инструкции</div>
        </div>
            <div class="sidebar-menu__item sidebar-menu__item_notice">Уведомления</div>
        
        <div class="sidebar-body__adress sidebar-adress">
            <div class="sidebar-adress__item">
                <h3 class="sidebar-adress__title">Адрес 123</h3>
                <p class="sidebar-adress__text">Адрес 123</p>
                <button class="sidebar-adress__btn">Перейти<img src="img/sidebar-icon.png" alt=""></button>
            </div>
            <div class="sidebar-adress__item">
                <h3 class="sidebar-adress__title">Адрес 123</h3>
                <p class="sidebar-adress__text">Адрес 123</p>
                <button class="sidebar-adress__btn">Перейти<img src="img/sidebar-icon.png" alt=""></button>
            </div>

        </div>
    </div>
</aside>
