<footer class="footer">
    <div class="top-footer">

            <section class="intro-list__item intro-item">
                <img src="img/bg-main.jpg" alt="" class="intro-item__bg">
                <h2 class="intro-item__title">Meet <span>Brandi!</span></h2>
                <p class="intro-item__text"><span>/creative</span> one page template.</p>
                <p class="intro-item__small">We are a team of professionals</p>
                <ul class="intro-item-social intro-social">
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--1.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--2.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--3.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--4.png" alt=""></a></li>
                </ul>
            </section>
            
            <section class="intro-list__item intro-item">
                <img src="img/bg-main.jpg" alt="" class="intro-item__bg">
                <h2 class="intro-item__title">Meet <span>Brandi!</span></h2>
                <p class="intro-item__text"><span>/creative</span> one page template.</p>
                <p class="intro-item__small">We are a team of professionals</p>
                <ul class="intro-item-social intro-social">
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--1.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--2.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--3.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--4.png" alt=""></a></li>
                </ul>
            </section>
            <section class="intro-list__item intro-item">
                <img src="img/bg-main.jpg" alt="" class="intro-item__bg">
                <h2 class="intro-item__title">Meet <span>Brandi!</span></h2>
                <p class="intro-item__text"><span>/creative</span> one page template.</p>
                <p class="intro-item__small">We are a team of professionals</p>
                <ul class="intro-item-social intro-social">
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--1.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--2.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--3.png" alt=""></a></li>
                    <li class="intro-social__item"><a href="#"><img src="img/slider-soc--4.png" alt=""></a></li>
                </ul>
            </section>
        
<!--
            <div class="top-footer__item tfooter-item">
                <div class="tfooter-item__wrap">
                    <div class="tfooter-item__date">14/07</div>
                    <div class="tfooter-item__desc tfooter-item__desc_sale">Акция</div>
                </div>
                <p class="tfooter-item__text">Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.</p>
            </div>
            <div class="top-footer__item tfooter-item">
                <div class="tfooter-item__wrap">
                    <div class="tfooter-item__date">14/07</div>
                    <div class="tfooter-item__desc">Новости</div>
                </div>
                <p class="tfooter-item__text">Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.</p>
            </div>
            <div class="top-footer__item tfooter-item">
                <div class="tfooter-item__wrap">
                    <div class="tfooter-item__date">14/07</div>
                    <div class="tfooter-item__desc">Акции</div>
                </div>
                <p class="tfooter-item__text">Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.</p>
            </div>
            <div class="top-footer__item tfooter-item">
                <div class="tfooter-item__wrap">
                    <div class="tfooter-item__date">14/07</div>
                    <div class="tfooter-item__desc">События</div>
                </div>
                <p class="tfooter-item__text">Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.</p>
            </div>
-->
    </div>
    <div class="bottom-footer">
        <div class="bottom-footer__info bfooter-info">
            <div class="bfooter-info__socials"><img src="img/social-icon.gif" alt=""></div>
            <div class="bfooter-info__phone">
                <div class="header-contact__phone">
                    <a href="tel: +70000000000">+7 000 000-00-00</a>
                </div>
            </div>
            <div class="bfooter-info__adress">Адрес, улица, дом, корпус</div>
            <div class="bfooter-info__email"><a href="mailto: post@comp.com">post@comp.com</a></div>
        </div>
        <div class="bottom-footer__section bfooter-section">
            <div class="bfooter-section__item">
                <h4 class="bfooter-item__title">Раздел №1</h4>
                <p class="bfooter-item__text">Подраздел №1</p>
                <p class="bfooter-item__text">Подраздел №2</p>
                <p class="bfooter-item__text">Подраздел №3</p>
                <p class="bfooter-item__text">Подраздел №4</p>
                <p class="bfooter-item__text">Подраздел №5</p>
                <p class="bfooter-item__text">Подраздел №6</p>
            </div>
            <div class="bfooter-section__item">
                <h4 class="bfooter-item__title">Раздел №2</h4>
                <p class="bfooter-item__text">Подраздел №1</p>
                <p class="bfooter-item__text">Подраздел №2</p>
                <p class="bfooter-item__text">Подраздел №3</p>
                <p class="bfooter-item__text">Подраздел №4</p>
            </div>
            <div class="bfooter-section__item">
                <h4 class="bfooter-item__title">Раздел №3</h4>
                <p class="bfooter-item__text">Подраздел №1</p>
                <p class="bfooter-item__text">Подраздел №2</p>
                <p class="bfooter-item__text">Подраздел №3</p>
                <p class="bfooter-item__text">Подраздел №4</p>
                <p class="bfooter-item__text">Подраздел №5</p>
                <p class="bfooter-item__text">Подраздел №6</p>
            </div>
            <div class="bfooter-section__item">
                <h4 class="bfooter-item__title">Раздел №4</h4>
                <p class="bfooter-item__text">Подраздел №1</p>
                <p class="bfooter-item__text">Подраздел №2</p>
                <p class="bfooter-item__text">Подраздел №3</p>
            </div>
        </div>
    </div>
</footer>


<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</body>

</html>
