<div class="wrap-menu"></div>
   <header class="header">
    <div class="contain">
        <div class="header-body">
            <div class="header-body__logo"><img src="img/logo.gif" alt=""></div>
            <div class="header-body__menu header-menu">
                <div class="header-menu__item">Раздел №1</div>
                <div class="header-menu__item">Раздел №2</div>
                <div class="header-menu__item">Раздел №3</div>
                <div class="header-menu__item">Раздел №4</div>
                <div class="header-menu__item">Раздел №5</div>
            </div>
            <div class="header-body__comparison header-comparison">
                <div class="header-comparison__icon">
                    <img src="img/comparition-berger-icon.gif" alt="burger-icon">
                </div>

                <div class="header-comparison__title">Сравнение</div>
            </div>
            <button class="header-body__lk header-lk">Личный кабинет
               <img src="img/header-lk-arrow.png" class="header-lk__btn" alt="">
            </button>
            <div class="header-body__contact header-contact">
                <div class="header-contact__phone">
                    <a href="tel: +70000000000">+7 000 000-00-00</a>
                </div>
                <div class="header-contact__icon">
                    <img src="img/call-icon.gif" alt="Call icon">
                </div>
            </div>
            <div class="header-body__burger header-burger">
                <div class="header-burger__item"></div>
                <div class="header-burger__item"></div>
                <div class="header-burger__item"></div>
            </div>
        </div>
    </div>
</header>
