.header
  background: #223479 url(../img/bg-header.jpg) center center
  color: $htc
  &-body
    padding: 0 2px
    display: flex
    flex-direction: column
    padding-top: 2px
  &-top
    display: flex
    align-items: center
    padding: 0 3px
    &__logo
      flex: 1 1
      a
        display: flex
        align-items: center
        width: 32%
      .logo
        &__img
          width: 39px
          height: 41px
          margin-right: 12px
          margin-top: 2px
        &__text
          color: $htc
          font-size: 14px
          margin-right: 4px
    &__spec-ver
      margin-right: 75px
      a
        display: flex
        align-items: center
      .spec-ver
        &__img
          margin-right: 12px
        &__text
          color: $htc
          font-size: 13px
          letter-spacing: .3px

    &__search
      cursor: pointer
      margin-right: 39px
      img
        padding-top: 5px
    &__lang

      .lang__text
          color: $htc
          font-size: 14px
  &-main
    display: flex
    justify-content: center
    align-items: center
    padding-top: 15px
    padding-bottom: 10px
    &__text
      display: block
      font-size: 27px
      font-weight: 400
      text-transform: uppercase
      letter-spacing: 2.8px
      &:last-child
        margin-right: 42px
    &__logo
      display: block
      width: 66px
      height: 77px
      color: red
      margin: 1px 35px 0
  &-menu
    border-top: 1px solid #696771

    &__block
      display: flex
      justify-content: space-between
      align-items: center
      padding-top: 17px
      padding-bottom: 15px
      margin-right: 4px
      margin-left: 3px
    &__item
      display: block
      color: $htc
      transition: .1s
      box-sizing: border-box
      border-bottom: 0 solid #fb2714
      height: 20px
      letter-spacing: 1.0px
      &:hover
        color: rgba( 255, 255, 255, 1 )
        border-bottom-width: 5px