:root {
    --arc-color: #C4528F;
    /*--arc-width:380px;*/
    --one-pt: 39px;
}

body {
    width: 100%;
}

h1,
h2 {
    margin: 0;
}

.task-title {
    margin-top: 30px;
    text-align: center;
}

.wrap {
    max-width: 880px;
    margin: 0 auto;
}

.desc {
    text-align: center;

}

.task {
    margin-top: 15px;
}

.task-desc {
    text-align: center;
}

.formula {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.fields {
    text-align: center;
    width: 25px;
    height: 30px;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    width: 15px;
    margin: 0 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid silver;
}

.task-box {
    position: relative;
    /*    height: var(--arc-width);*/
    height: 250px;
    display: flex;
    width: 875px;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
}

.value-one-arc,
.value-two-arc {
    position: absolute;
    z-index: 20;
}

:disabled{
    background: none;
    font-weight: none;
    color: black;
    -webkit-text-fill-color:black;
}
.value-one-arc {
    /*    Изменение динамически*/
    bottom: 200px;
    left: 200px;
}

.value-two-arc {
    /*    Изменение динамически*/
    bottom: 200px;
    left: 300px;
    visibility: hidden;
}

.line-box {
    width: 875px;
    margin: 0 auto;
}

.line {
    width: 875px;
    height: 83px;
    margin: 0 auto;
}

.arc {
    border-radius: 400px 400px 0 0;
    border-top: 1px solid var(--arc-color);
    border-left: 1px solid var(--arc-color);
    border-right: 1px solid var(--arc-color);
    z-index: 10;
    position: absolute;
}

.arc-one {
    --sum: 1;
    --arc-width: calc(var(--one-pt)*var(--sum));
    bottom: 67px;
    left: 35px;
    width: var(--arc-width);
    height: calc(var(--arc-width)/2);
}

.arc-two {
    --sum: 1;
    --arc-width: calc(var(--one-pt)*var(--sum));
    --left-padding: 35px;
    bottom: 67px;
    visibility: hidden;
    width: var(--arc-width);
    height: calc(var(--arc-width)/2);
}
