.intro
    &-body
        position: relative
        &__bg
            line-height: 0
            
.intro-text
    +rfs(48px)
    color: #414141
    font-family: 'Vida 33' sans-serif
    position: absolute
    top: 142px
    left: 93px
    &__adress
        line-height: 44px
        +rfs(18px)
        color: #777b80
        background: #fff
        height: 28px
        width: 129px
        padding-left: 18px
    &__name
        line-height: 53px
        background: #fff
        padding: 10px 32px 0 18px