.footer
    font-family: 'Vida31'
    
    width: 100%
.top-footer
    background-color: rgba(83, 86, 90, 0.1)
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    &__item
        margin: 0 60px
        
        
.tfooter-item
    &__date
        width: 36px
        color: rgba(0, 0, 0, 0.3)
        +rfs(14px)
        margin-right: 5px
    &__desc
        +rfs(10px)
        line-height: 20px
        text-transform: uppercase
        font-family: 'Vida31'
        padding: 0px 4px 0px 6px
        background: #fff
        border-radius: 2px

        &_sale
            background-color: #c5e71b
            font-weight: bold
            position: relative
            padding: 0px 8px 0px 8px
            &:after
                display: block
                content: ''
                background-color: 
                width: 0
                height: 0
                border-style: solid
                border-width: 10px 0 10px 4px
                border-color: transparent transparent transparent #eeeeee
                position: absolute
                top: 0
                left: 0
                z-index: 10
            &:before
                display: block
                content: ''
                background-color: 
                width: 0
                height: 0
                border-style: solid
                border-width: 10px 4px 10px 0
                border-color: transparent #eeeeee transparent transparent 
                position: absolute
                top: 0
                right: 0
                z-index: 10
    &__text
        +rfs(14px)
        line-height: 18px
        margin-top: 8px
    &__wrap
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        
.bottom-footer
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    margin: 0 45px
   
    .bfooter-info
        width: 200px
        &__socials
        &__phone
        &__adress
        &__email
    &__section
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-around
        width: 100%
       
        &__item
             &:last-child
                .bfooter-item__title
                    visibility: hidden
        &__title
            
        &__text